# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
flask_sessions/
instance/
.webassets-cache

# User uploads
uploads/
static/frames/

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.coverage.*
.cache/
coverage.xml
*.cover